@import './mixin.scss';

$trans: .4s;
$nav-height:50px;

$font-1: #303133;
$font-2: #606266;
$font-3: #909399;
$font-4: #C0C4CC;
$light: #fff;
$bg-1: #DCDFE6;
$bg-2: #E4E7ED;
$bg-3: #EBEEF5;
$bg-4: #F2F6FC;
$bg-3-5: rgba(235,238,245,.58);

$active: #409EFF;

$border-radius: 3px;

$menu-max-width: 220px; 
$menu-min-width: 60px;
$tab-height: 35px;